h1, h3 {
    color: ghostwhite;
    border-radius: 15px;
    padding: 4px;
}

h1 {
    font-size: 3em;
}

.place-holder {
    background-color: blue;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

input {
    margin-top: 15px;
    height: 20%;
    width: 50%;
    margin-left: 25%;
    line-height: 3px;
}

form {
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 15px;
    width: 75%;
    height: 135px;
    margin-left: 14%;
}
